TM1-Maximo/TM1-Maximo/Files/DOC_WEBI_WEB_SERVICE_30_09_2014.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_Web_Service_30_09_2014">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_ZPPM_COGNOS_IN_FIN_PLAN">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal20.8">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="20"/>
     <xsd:fractionDigits value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ZPPMS_COGNOS_IMPORT">
    <xsd:sequence>
     <xsd:element name="IV_IBM_ID_DZO" type="tns:numeric4"/>
     <xsd:element name="IV_IBM_NAME_DZO" type="tns:char60"/>
     <xsd:element name="IV_IBM_ID_VER" type="tns:numeric1"/>
     <xsd:element name="IV_IBM_NAME_VER" type="tns:char5"/>
     <xsd:element name="IV_IBM_ID_FINTP" type="tns:numeric2"/>
     <xsd:element name="IV_IBM_NAME_FINTP" type="tns:char60"/>
     <xsd:element name="IV_IBM_ID_ITEM" type="tns:numeric2"/>
     <xsd:element name="IV_IBM_NAME_ITEM" type="tns:char60"/>
     <xsd:element name="IV_IBM_ID_DEF" type="tns:numeric2"/>
     <xsd:element name="IV_IBM_KV" type="tns:numeric4"/>
     <xsd:element name="IV_IBM_YEAR" type="tns:numeric4"/>
     <xsd:element name="IV_IBM_ID_MEAS" type="tns:numeric3"/>
     <xsd:element name="IV_IBM_CURRENCY" type="tns:char4"/>
     <xsd:element name="IV_IBM_AMOUNT" type="tns:decimal20.8"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ZPPM_COGNOS_IN_FIN_PLAN">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IS_PARAMS" type="tns:ZPPMS_COGNOS_IMPORT"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ZPPM_COGNOS_IN_FIN_PLANResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EV_RESULT" type="tns:numeric1"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ZPPM_COGNOS_IN_FIN_PLAN">
  <wsdl:part name="parameters" element="tns:ZPPM_COGNOS_IN_FIN_PLAN"/>
 </wsdl:message>
 <wsdl:message name="ZPPM_COGNOS_IN_FIN_PLANResponse">
  <wsdl:part name="parameter" element="tns:ZPPM_COGNOS_IN_FIN_PLANResponse"/>
 </wsdl:message>
 <wsdl:portType name="Web_Service_30_09_2014">
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_Web_Service_30_09_2014"/>
  </wsp:Policy>
  <wsdl:operation name="ZPPM_COGNOS_IN_FIN_PLAN">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_ZPPM_COGNOS_IN_FIN_PLAN"/>
   </wsp:Policy>
   <wsdl:input message="tns:ZPPM_COGNOS_IN_FIN_PLAN"/>
   <wsdl:output message="tns:ZPPM_COGNOS_IN_FIN_PLANResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>